$text-default: #383838;
$cell: #d8f39a;
$cell-hover: lighten($cell, 20%);
$cell-highlight: #f0fd8a;
$border: #474747;
$x-color: #2772be;
$o-color: #d03b33;
$active: #fff;
$inactive: #929090;
$page-bg: #f2f2f2;

/// Slightly lighten a color
/// @param {Color} $color - color to tint
/// @param {Number} $percentage - percentage of `$color` in returned color
@function tint($color, $percentage) {
  @return mix(white, $color, $percentage);
}

/// Slightly darken a color
/// @param {Color} $color - color to shade
/// @param {Number} $percentage - percentage of `$color` in returned color
@function shade($color, $percentage) {
  @return mix(black, $color, $percentage);
}

body {
  background-color: $page-bg;
}
