.right {
  float: right;
}

.left {
  float: left;
}

.player {
  border-color: purple;
  //border-style: solid;
  display: table;
  margin: 0;
  border-radius: 10px;
}

.x {
  background-color: $x-color;
}

.o {
  background-color: $o-color;
}

.score {
  font-size: 8vw;
  margin: 0 20px;
}
