footer {
  border-color: black;
  border-style: solid;
  height: 15vw;
  width: 40vw;
  min-width: 300px;
}

.x {
  float: left;
}

.o {
  float: right;
}

.player{
  border-style: solid;
  border-color: purple;
  height: 100%;
  width: 45%;
}

.score {
  margin: 0 20px 0 20px;
  font-size: 8vw;
}
