$icon-margin: 2px;

.right {
  float: right;
}

.left {
  float: left;
}

.player {
  border-color: $text-default;
  border-style: solid;
  display: table;
  margin: 0;
  border-radius: 10px;
}

.x {
  background-color: $x-color;
  margin: $icon-margin;
}

.o {
  background-color: $o-color;
  margin: $icon-margin;
}

.score {
  font-size: 8vw;
  margin: 1px;
}

.spacer {
  margin-top: 10px;
}

.active {
  background-color: $active;
}

.inactive {
  background-color: $inactive;
}
