$main-font: 'Quicksand', sans-serif;

h1 {
  font-family: $main-font;
  font-size: 5vw;
  // margin: 10px, 0;
  // text-align: center;
}

h2 {
  font-family: $main-font;
  font-size: 10vw;
  font-weight: 100;
  margin: 0;
}

h3 {
  font-family: $main-font;
  font-size: 3vw;
  margin-top:10px;
}
